body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #343A40;
  background-color: #ededed;

}

h1 {
  font-size: 28px;
  
}

#card-header {
  background-color: #343A40;
  padding: 10px;
  color: #FFFFFF;
}

#shop-header {
  background-color: #ededed;
  color:#343A40!important;
  
}

#logo-header {
  width: 50px;
  
}

#shop-background {
  height: 150px;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

#card-breadcrumb {
  margin-top: 30px;
  font-size: 12px;
}

#card-libelle {
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 700;
}

.card-product {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #F2F2F2;
  background-color: #fcfcfc;
}

#card-total {
  border-bottom: 1px solid #F2F2F2;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 700;
}

#card-checkout {
  padding-top: 7px;
}

.bike-picture {
  width: 170px;
}

.shop-price {
  font-size: 16px;
  font-weight: 700;
}

.bike-card {
  margin-bottom: 15px;
}

.navbar .navbar-brand{
  color:black !important;
  font-size: 3em;
  font-family: 'Anton', sans-serif;
  font-weight: bolder
}
.mynavbar{
  background-color: #ededed;
}
.navbar .nav-link{
  color:black !important;
  font-size: 0,2em;
  
}

#demo{
  margin-bottom: 100px;
}

.text-divider {
  margin: 2em 0;
  line-height: 0;
  text-align: center;
  }

.text-divider span{
  background-color:#ededed;
  padding: 1em;
  }

.text-divider:before{
   content: " ";
    display: block;
    border-top: 1px solid #343A40;
    border-bottom: 1px solid #343A40;
    }
    .btn-primary{
      background-color: #343A40;
      border-color:#343A40;
      
    }
